@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
  --text-color-primary: #FFFFFF;
  --text-color-secondary: #EDF0F9;
  --text-color-dark: #222222;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #222222;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #141414;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #66666671;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #6666666c;
}
::-webkit-scrollbar-track:active {
  background: #33333375;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

*{
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

li{ list-style: none; }

a{ text-decoration: none; }

/* Cabeçalho */

header{
  background-color: #222222d3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  position: fixed;
  top: 0;
}

header img{ width: 200px; }

header nav{ display: flex; }

header li a{ 
  color: var(--text-color-primary); 
  font-family: 'Bebas Neue', cursive;
  font-size: 1.25rem;
  transition: 0.5s;
}

header li a:hover{
  color: rgb(194, 194, 194);
}

header li{ margin: 0 15px; }

header li:nth-child(1){ margin-left: 0; }
header li:nth-child(4){ margin-right: 0; }

/* Hero */

.hero{
  background-image: url(../img/hero.jpg);
  background-size: cover;
  min-height: 100vh;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero h1{
  font-size: 3.2rem;
  margin-bottom: 15px;
  font-family: 'Lobster', cursive;
}

.hero h3{
  font-size: 2rem;
  margin-bottom: 50px;
  font-family: 'Bebas Neue', cursive;
}

.hero .btn{
  background-color: #c3c63b;
  border-radius: 4px;
  color: var(--text-color-primary);
  padding: 20px 50px;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  border: none;
  transition: 0.5s;
}

.hero .btn:hover{
  background-color: #90922c;
}

/* Conheça o hotel */

.conheca-o-hotel{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
}

.conheca-o-hotel h3{
  font-size: 2rem;
  margin-bottom: 35px;
  color: var(--text-color-dark);
  text-align: center;
  font-family: 'Lobster', cursive;
}

.conheca-o-hotel p{
  font-size: 1.25rem;
  max-width: 800px;
  margin-bottom: 35px;
  color: var(--text-color-dark);
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}

.conheca-o-hotel hr{
  width: 200px;
  height: 2px;
  background-color: #191c03;
  margin-bottom: 70px;
  border: none;
}

.conheca-o-hotel .grid{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.conheca-o-hotel .grid li{
  height: 350px;
  padding: 20px;
  border-radius: 40px;
  list-style: none;
  background-clip: content-box;
  background-position: center;
}

.conheca-o-hotel .grid .small{ flex-basis: 40%; }

.conheca-o-hotel .grid .large{ flex-basis: 50%; }

@media(max-width: 700px){
  header{ flex-direction: column; }
  header img{ margin-bottom: 15px; }
  
  .hero h1{ font-size: 2.5rem; }
  .hero h2{ font-size: 1.5rem; }

  .conheca-o-hotel .grid .small,.conheca-o-hotel .grid .large{ flex-basis: 100%; }

}

/* Características */

.caracteristicas{
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
}

.caracteristicas h3{
  font-size: 2rem;
  margin-bottom: 35px;
  color: var(--text-color-primary);
  text-align: center;
  font-family: 'Lobster', cursive;
}

.caracteristicas p{
  font-size: 1.25rem;
  max-width: 800px;
  margin-bottom: 35px;
  color: var(--text-color-secondary);
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}

.caracteristicas hr{
  width: 200px;
  height: 2px;
  background-color: #FFF;
  margin-bottom: 70px;
  border: none;
}

.caracteristicas .grid{ width: 100%; display: flex; }

.caracteristicas .grid li{ 
  padding: 30px 30px; 
  text-align: center;
  box-shadow: 0 0 1em #000000a9;
  justify-content: space-between;
  width: 33%;
  margin: 10px;
  border-radius: 10px;
}

.caracteristicas .grid li i{
  color: #c3c63b;
  font-size: 50px;
  margin-bottom: 30px;
}

.caracteristicas .grid li h4{
  font-size: 1.5rem;
  color: var(--text-color-secondary);
  margin-bottom: 30px;
  font-family: 'Lobster', cursive;
}

.caracteristicas .grid li p{ 
  font-size: 1.25rem;
  color: var(--text-color-secondary); 
  font-family: 'Bebas Neue', cursive;
  margin: 0;
}

@media(max-width: 860px){
  .caracteristicas .grid{
    flex-direction: column;
  }

  .caracteristicas .grid li{
    width: 100%;
  }
}

/*NewsLetter*/

.newsletter{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
}

.newsletter h3{
  font-size: 2rem;
  margin-bottom: 35px;
  color: var(--text-color-dark);
  text-align: center;
  font-family: 'Lobster', cursive;
}

.newsletter p{
  font-size: 1.25rem;
  max-width: 800px;
  margin-bottom: 35px;
  color: var(--text-color-dark);
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}

.newsletter hr{
  width: 200px;
  height: 2px;
  background-color: #222222;
  margin-bottom: 70px;
  border: none;
}

.newsletter form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  max-width: 800px;
}

.newsletter input{
  padding: 15px;
  border: 1px solid #222222;
  border-radius: 4px;
  margin-right: 15px;
  flex: 1;
  font-size: 1.25rem;
  font-family: 'Bebas Neue', cursive;
}

.newsletter button{
  padding: 15px;
  background-color: white;
  color: var(--text-color-dark);
  text-transform: uppercase;
  border: 1px solid #222222;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.25rem;
  font-family: 'Bebas Neue', cursive;
  transition: 0.5s;
}

.newsletter button:hover{
  background-color: #222222;
  color: var(--text-color-primary);
}

@media(max-width: 700px){
  .newsletter input{ flex-basis: 100%; margin-bottom: 15px; }
}

/*Footer*/

footer{
  background-color: rgba(0, 0, 0, 0.8);
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

footer div{
  display: flex;
  position: absolute;
  right: 5px;
}

footer div i{
  cursor: pointer;
  margin: 5px;
  color: #FFF;
  font-size: 30px;
}

footer p{
  color: var(--text-color-secondary);
  font-size: 1rem;
  font-family: 'Bebas Neue', cursive;
}

@media (max-width: 700px) {
  footer{
    height: 80px;
  }
  footer div{
    position: relative;
  }
}
